<!-- BLANK SLATE WHEN ITEMS ARE EMPTY -->
<div class="row blank-slate">
	<div class="small-12 small-centered columns">
	  <p>You don't have any todo items!</p>
	  <%= link_to "Add items", new_todo_list_todo_item_path(@todo_list), class: "button radius" %>
	</div>
</div>